{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mb-4">
            {% if article.image %}
                <img src="{{ article.image.url }}"   style="width: 400px ;"  class="card-img-top img-fluid" alt="{{ article.title }}">
            {% endif %}
            <div class="card-body">
                <h1 class="card-title mb-4">{{ article.title }}</h1>
                <p class="card-text text-muted mb-3">
                    Par <strong>{{ article.author }}</strong> le {{ article.dete_created|date:'d-m-Y' }}
                </p>
                <p class="card-text mb-4">{{ article.description }}</p>
                <div class="card-text mb-4">{{ article.content|linebreaks }}</div>
                <p class="card-text text-muted">
                    Dernière mise à jour : {{ article.date_updated|date:'d-m-Y' }}
                </p>
            </div>
        </div>

        <div class="d-flex justify-content-between mb-4">
            {% if user.is_authenticated and user == article.author %}
                <a href="{% url 'modifier_article' article_id=article.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'supprimer_article' article_id=article.id %}" class="btn btn-danger">Supprimer</a>
            {% endif %}
            <a href="{% url 'list_article' %}" class="btn btn-secondary">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
