{% extends 'base.html' %}

{% block title %}Modifier un Article - My Blog{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card shadow-lg">
                <div class="card-header bg-warning text-white text-center py-4">
                    <h2 class="card-title mb-0">Modifier l'Article</h2>
                </div>
                <div class="card-body p-5">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <label for="title" class="form-label">Titre de l'Article</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="content" class="form-label">image</label>
                            {{ form.image }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="summary" class="form-label">Description</label>
                            {{ form.description }}
                        </div>
                        <div class="form-group mb-4">
                            <label for="content" class="form-label">Contenu</label>
                            {{ form.content }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">
                            <i class="fas fa-edit me-2"></i>Mettre à Jour l'Article
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
